.sectional-gap{
    margin-top: 132px;
}
li{
    list-style: none;
}
/* .card{
    width: calc((100% - 9%));
    margin: 0 auto;
} */
.social-links li{
    display: flex;
    text-align: center;
    align-items: center;
}